h1{
    font-size: 50px;
    margin: 0;
    text-align: center;
}

h2 {
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
p {
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

li {
    color: rgb(51, 51, 51);
    font-size: 14px;
    margin-bottom: 15px;
    list-style-type: circle;
}